.mce-notification-inner {display:none!important;}

.mce-close {display:none!important;}

.mce-notification {display:none!important;}

.mce-path-item {display:none!important;}

.mce-divider {display:none!important;}

#spanTogle{
    display: none;
}
#columnCategories{
    display: inline;
}


/*Style for row to put it border*/
.putBorder {
    border: gray 1px solid;
  }

/*Style for small tag to put it red color*/
small {
    color: red;
}

/*Style for btn-group to generate a space*/
.btnOptionsUpDown{
    margin-top: 4%; 
    
}

/*Style to the article image*/
.imageStyle{
    width: 170px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
}


/*Media query to do small article image*/
@media (max-width: 1100px) {
    .imageStyle{
        width: 130px;
        height: 80px;}
  }

  @media (max-width: 991px) {
    #spanTogle{
        display: inline;
    }
    #columnCategories{
        display: none;
    }
    #divHeadCategories{
        display: none;
    }
  }

  @media (max-width: 900px) {
    .imageStyle{
        width: 100px;
        height: 50px;}
  }
@media (max-width: 600px) {
    .imageStyle{
        width: 65px;
        height: 65px;}
  }

/*  IMAGE */  
/*
@media (max-width: 775px) {
    .btnOptionsUpDown{
        margin-left: 0%; 
        margin-bottom: 0%;      
    }
    small {
        color: blue;
    }
  }

  @media (max-width: 580px) {
    .columnCategories{
        margin-top: 0%; 
        margin-left: 0%;  
        float: left;     
    }
    .btnEditDelete{
       margin-left: 0%; 
       margin-top: 0%;  
       float: right;     
    }
}

@media (max-width: 700px) {

    .columnCategories{
        position: relative;
    }

}
   */
.styleCheck {
  transform: scale(1.5);
  margin-top: 2%;
}
/*
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 60px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 14px 12px;

    text-decoration: none;
    display: block;
    transition: padding 1s;
}

.dropdown-content a:hover {

    margin: 0 auto;
    padding: 25px 18px;
}
/*hace el hover que se cambio por el click*/
/*.dropdown:hover .dropdown-content {
    display: block;
    /*float: right;
}*/	


/*
.dropdown:hover .dropbtn {

    background-color: #3e8e41;
}*/

/*put first 6 with white color and the rest silver color*/
.rowpinneds:nth-child(-n+6){
    background-color: white;
}

.rowpinneds:nth-child(n+7){
    background-color: silver;
}
.rowavailables:nth-child(-n+6){
    background-color: white;
}

.rowavailables:nth-child(n+7){
    background-color: silver;
}

/*********************************/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 50px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}